{% extends "base.html" %}
{% load static %}
{% block title %}Booking{% endblock %}
<link rel="stylesheet" href="{% static 'booking.css' %}">
{% load static %}
{% block content%}

<h1>BOOK YOUR DOCTOR</h1>
<br>
{% for d in doc %}
<div class="card " style="width: 18rem;display: inline-block">
    <img src="{{d.doc_image.url}} " class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{d.doc_name}}</h5>
      <p class="card-text">{{d.doc_description}}</p>
      <a href="#" class="btn btn-primary">Book Now</a>
    </div>
  </div>
  
  {% endfor %}
{% endblock %}