{%extends "base.html" %}

{% block title%}information {% endblock %}

{%block content%}

<table class="table table-striped">
<thead>
    <th>numbrers</th>
    <th>doctors</th>
    <th>catagory</th>
    <th>booking number</th>
</thead>
<tbody>
    <tr>
    <td>1</td>
    <td>Dr.mammootty</td>
    <td>dermatologist</td>
    <td>9656949008</td>
</tr>
<tr>
<td>2</td>
<td>Dr.mohanlal</td>
<td>MBBS</td>
<td>99999999</td>

</tr>
<tr>
<td>3</td>
<td>Dr.prithviraj</td>
<td>dentist</td>
<td>666666666</td>
<tr>
<td>4</td>
<td>Dr.Dulquer Salmaan</td>
<td>MBBS</td>
<td>9656949008</td>
</tr>
<tr> 
<td>5</td>
<td>Dr.tovino thomas</td>
<td>psycologist</td>
<td>9656949008</td>
</tr>

</tbody>
  </table>

 {% endblock %} 
